language: node_js
node_js:
  - 10.14.0
before_install:
  - npm i -g npm@6.4.1
branches:
  only:
    - master
    - /^v\d+\.\d+(\.\d+)?(-\S*)?$/
env:
  global:
    - secure: Bk+l7xq83osEqRExjlaX8E7Hy6nk8QXv7FAweHV+00hRBJOcCilbud70z4zSuVi1MAQQIr4g79GnWyQk6A7WftCKEH5fLT3BzS0s6/13eVevWBUQYyyteOOtF0g4ASQK1ePYj8g9DhPtZdyribexf5Rqzdu04DuS3lzJtIoop+ZPoZqsm8mv96//ivu5RDFBd6s4leOqNDxvG6lXpjdrzJGsParbujO0tRWwDlwg7zNCbqCqsSEW8/Vmrl20dNSK3D6YBKyfMCBEGG0esavSr2o7rkv9V14WdlpuFSbX0kGJYpfS6Qv7vltNwB6vrjiR1PUMTrb2/GU6q+4X3jtEqxbdA5belOsQAOCUeP/1bsWXNzT2N86A9t72uA0KyunxlG8iAJZ8TvrQleHcWi87WTWaZ7rA2Y+qeYgK/EM9tx7UwehdzGOHZ/uFwKwWlo9PS3ck5s9wG9HqR9ffithJUoJJ0wnQEBj9c2za9s6+rns4H5w+oSqpE8yXbaWNIfZZ0HQeib5oiIVGdSQC/DKZT34Aa1kaDZEwSWosBC5WL27zSTxPP9yeppTkMnQWJWu6eVRyJAsT5YEOdpweC+Bjsbo3gFm6sEso0SAATseqlvjrjhyvin7cxFYEKhe/X58ZLIi5Nb8QOzkujuvhFosGtMvWei2DB2oTqP+eUDyZ9CU=
    - secure: RPyQPPpqRa6irtrMTAeSnaL05I+34vHBAxZuoi+Fro7zbOXqFZOf4wy3vzNFtcfyBavvrVyAIsfDqY2woTZBCHwXhqAIUfxadcvYYU1eRvV6QJwPQtDI5cXo2p43JbJNn4uB2wqE4Q2mbOegzSXBAd8ykNKkdmYyTdvOMpkn3AH5pQ59KMQ8+DA0Z6uDxZcORBiUq29LQY7jmO3EeSGXsdazDP66ETu/VKf1oArm+FWhQB0ylK3ZlfTUKwXyCKMeGl+7DMSIbp1iGPjkO8H4T6u9pdV1q5oxIwInzjCRLYFglhBrS66fePojp/jtDZvG3ISSr2BKq73qBk7s2RO/8ZrWVDbjdIUePpOzi/UZqobqvfod4nsb97ejUJgzm0kCIRvgO0ZukaZtNx+DSCsrFzqzQ+H6cWD98kCIHWjnOG0LIjK5g59vDtyyEsjVdTMTOSD3/H0txNSKRHjAoR0bc53yirZrefK4GBiSgwiSSfylk4AamCQLis2ZhkJEcaK2MTM+K5b8rHS7zAV8PFb0YO50DNvDkjgKNpRPWyT3Nyt+2UoIsjJe9jr5S/IlNL2Ic7+VB8U3zT7taeQKBxZXPrcyYB2AvAJZCXiTFXXmDuEZLAbOkhYDektdsyp3+3XahgmLycfgh6WJAZ6gdj9j2YFzX65x+gss7rS89x1lVPo=
    - OWNER=streamr
    - IMAGE_NAME=streamr-community-products
jobs:
  include:
    - stage: lint & unit tests
      script:
        - npm run lint
        - npm run unit-tests
    - stage: integration tests
      env:
        - STREAMR_WS_URL="ws://localhost:8890/api/v1/ws"
        - STREAMR_HTTP_URL="http://localhost:8081/streamr-core/api/v1"
        - STREAMR_NODE_ADDRESS="0xc0dBcc4e7a0e0BEF78Da67AC2CD5Ca2Dd3c4C165"
        - ETHEREUM_PRIVATE_KEY="0123456789ABCDEF0123456789ABCDEF0123456789ABCDEF0123456789ABCDEF"
      script:
        - sudo /etc/init.d/mysql stop
        - git clone https://github.com/streamr-dev/streamr-docker-dev.git
        - sudo ifconfig docker0 10.200.10.1/24
        - $TRAVIS_BUILD_DIR/streamr-docker-dev/streamr-docker-dev/bin.sh start 1
        - sleep 1m
        - docker ps
        - $TRAVIS_BUILD_DIR/streamr-docker-dev/streamr-docker-dev/bin.sh start engine-and-editor
        - $TRAVIS_BUILD_DIR/streamr-docker-dev/streamr-docker-dev/bin.sh start ganache
        - sleep 5m
        - docker ps
        - node ./scripts/create_user.js
        - ./node_modules/.bin/mocha --exit test/integration/engine-and-editor-api.js
    - stage: Build docker (Dev/Nightly)
      if: tag IS blank
      install: true
      script:
        - docker build -t $OWNER/$IMAGE_NAME:local .
        - .travis_scripts/smoke_test.sh
      after_failure:
        - docker ps;
        - docker logs streamr_dev_cp;
      deploy:
        - provider: script
          script: bash .travis_scripts/deploy_docker.sh dev
    - stage: Build docker (Production)
      if: tag IS present
      install: true
      script:
        - docker build -t $OWNER/$IMAGE_NAME:local .
        - .travis_scripts/smoke_test.sh
      deploy:
        - provider: script
          script: bash .travis_scripts/deploy_docker.sh production
